.headerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 3rem;
}

.logo {
    height: 100px;
    margin-right: 20px;
}

.headerText {
    color: #ffcb05;
    text-shadow: 2px 0px 2px #e6afe2;
}